<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="clearfix"></div>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_content"><br />
          <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
            
            <div class="field">
                 <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">First Name</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                 <%= f.text_field :projectname,:required =>"required",class: :"form-control col-md-7 col-xs-12" %>
                </div> 
            </div>
              <br><br>

              <div class="field">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="desc">Description</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                 <%= f.text_area :description,:required =>"required",class: :"form-control col-md-7 col-xs-12" %>
                  </div>    
              </div>
              <br><br><br><br>

              <div class="field">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="start-date">Start Date</label>
                <%= f.date_select :startdate %>
              </div>
              <br>

              <div class="field">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="end-date">End Date</label>
                <%= f.date_select :finishdate %>
              </div>

              <br>
              <div class="field">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="programme-director">Lead Director</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                  
                    
              </div> 

              <br><br>
              
              <div class="field">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="programme-director">Programme Director</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                 <%= f.text_field :programmemanager,:size=>"57",:required =>"required",class: :"form-control col-md-7 col-xs-12" %>
               
              </div>
              <br><br>

              <div class="field">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="project-director">Project Director</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                 <%= f.text_field :projectmanager,:required =>"required",class: :"form-control col-md-7 col-xs-12" %>
              </div>
              <br><br>

              <div class="field">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="programme">Programme</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                 <%= f.text_field :programme,:required =>"required",class: :"form-control col-md-7 col-xs-12" %>
              </div>
              <br><br>

              <div class="field">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="transformation">Transformation</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                 <%= f.text_field :transformation,:required =>"required",class: :"form-control col-md-7 col-xs-12" %>
              </div>
              <br><br>

              <div class="field">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="components">Components</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                 <%= f.text_field :components,:required =>"required",class: :"form-control col-md-7 col-xs-12" %>
              </div>
              <br><br>

              <div class="field">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="project-outcome">Project Outcome</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                 <%= f.text_area :projectoutcome,class: :"form-control col-md-7 col-xs-12" %>
              </div>
              <br><br><br>

              <div class="field">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="teras-rm-ke-11-berkaitan">Teras RM ke-11 Berkaitan</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                 <%= f.text_field :terasrmke11berkaitan,:required =>"required",class: :"form-control col-md-7 col-xs-12" %>
              </div>
              <br><br>

              <div class="field">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="agenda-utama-berkaitan">Agenda Utama Berkaitan</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                 <%= f.text_field :agendautamaberkaitan,:required =>"required",class: :"form-control col-md-7 col-xs-12" %>
              </div>
              <br><br>

              <div class="field">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="kpi-uitm-berkaitan">KPI UiTM Berkaitan</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                 <%= f.text_field :kpiuitmberkaitan,:required =>"required",class: :"form-control col-md-7 col-xs-12" %>
              </div>
              <br><br>

              <div class="field">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="deliverables">Deliverables</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                 <%= f.text_area :deliverables,:required =>"required",class: :"form-control col-md-7 col-xs-12" %>
              </div>
              <br><br><br>

              <div class="field">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-milestone">First Milestone</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                 <%= f.text_field :firstmilestone,:required =>"required",class: :"form-control col-md-7 col-xs-12" %>
              </div>
              <br><br>

              <div class="field">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="impact">Impact</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                 <%= f.text_field :impact,:required =>"required",class: :"form-control col-md-7 col-xs-12" %>
              </div>
              <br><br>

              <div class="field">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="budget">Budget</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                 <%= f.text_field :budget,:required =>"required",class: :"form-control col-md-7 col-xs-12" %>
              </div>
              <br><br>

              <div class="field">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="latihan">Latihan</label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                 <%= f.text_field :latihan,:required =>"required",class: :"form-control col-md-7 col-xs-12" %>
              </div>
              <br><br><br>
              <div class="actions">
                <%= f.submit class: :"btn btn-success" %>
              </div>
            <% end %>
          </form>  
        </div>
      </div> 
    </div> 
  </div>