<p id="notice"><%= notice %></p>

<p>
  <strong>Project name:</strong>
  <%= @project.projectname rescue '-' %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description rescue '-'%>
</p>

<p>
  <strong>Start date:</strong>
  <%= @project.startdate rescue '-'%>
</p>

<p>
  <strong>Finish date:</strong>
  <%= @project.finishdate rescue '-'%>
</p>

<p>
  <strong>Lead director:</strong>
  <%= @project.leaddirector.directorname rescue '-'%>
</p> 

<p>
  <strong>Programme manager:</strong>
  <%= @project.programmemanager rescue '-'%>
</p>

<p>
  <strong>Project manager:</strong>
  <%= @project.projectmanager rescue '-'%>
</p>

<p>
  <strong>Programme:</strong>
  <%= @project.programme rescue '-'%>
</p>

<p>
  <strong>Transformation:</strong>
  <%= @project.transformation rescue '-'%>
</p>

<p>
  <strong>Components:</strong>
  <%= @project.components rescue '-'%>
</p>

<p>
  <strong>Project outcome:</strong>
  <%= @project.projectoutcome rescue '-'%>
</p>

<p>
  <strong>Teras rmke-11 berkaitan:</strong>
  <%= @project.terasrmke11berkaitan rescue '-'%>
</p>

<p>
  <strong>Agenda utama berkaitan:</strong>
  <%= @project.agendautamaberkaitan rescue '-'%>
</p>

<p>
  <strong>Kpi uitm berkaitan:</strong>
  <%= @project.kpiuitmberkaitan rescue '-'%>
</p>

<p>
  <strong>Deliverables:</strong>
  <%= @project.deliverables rescue '-'%>
</p>

<p>
  <strong>First milestone:</strong>
  <%= @project.firstmilestone rescue '-'%>
</p>

<p>
  <strong>Impact:</strong>
  <%= @project.impact rescue '-' %>
</p>

<p>
  <strong>Budget:</strong>
  <%= @project.budget rescue '-'%>
</p>

<p>
  <strong>Latihan:</strong>
  <%= @project.latihan rescue '-'%>
</p>

<%= link_to 'Edit', edit_project_path(@project), :class =>"btn btn-info" %> |
<%= link_to 'Back', projects_path, :class =>"btn btn-primary" %>
