<p id="notice"><%= notice %></p>

<p>
  <strong>Project name:</strong>
  <%= @project.project_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @project.start_date %>
</p>

<p>
  <strong>Finish date:</strong>
  <%= @project.finish_date %>
</p>

<p>
  <strong>Lead director:</strong>
  <%= @project.lead_director %>
</p>

<p>
  <strong>Programme manager:</strong>
  <%= @project.programme_manager %>
</p>

<p>
  <strong>Project manager:</strong>
  <%= @project.project_manager %>
</p>

<p>
  <strong>Programme:</strong>
  <%= @project.programme %>
</p>

<p>
  <strong>Transformation:</strong>
  <%= @project.Transformation %>
</p>

<p>
  <strong>Components:</strong>
  <%= @project.Components %>
</p>

<p>
  <strong>Project outcome:</strong>
  <%= @project.project_outcome %>
</p>

<p>
  <strong>Teras rmke-11 berkaitan:</strong>
  <%= @project.Teras_RMKe11_Berkaitan %>
</p>

<p>
  <strong>Agenda utama berkaitan:</strong>
  <%= @project.Agenda_Utama_Berkaitan %>
</p>

<p>
  <strong>Kpi uitm berkaitan:</strong>
  <%= @project.KPI_UiTM_Berkaitan %>
</p>

<p>
  <strong>Deliverables:</strong>
  <%= @project.deliverables %>
</p>

<p>
  <strong>First milestone:</strong>
  <%= @project.first_milestone %>
</p>

<p>
  <strong>Impact:</strong>
  <%= @project.impact %>
</p>

<p>
  <strong>Budget:</strong>
  <%= @project.budget %>
</p>

<p>
  <strong>Latihan:</strong>
  <%= @project.latihan %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
