<p id="notice"><%= notice %></p>

<p>
  <strong>Project name:</strong>
  <%= @project.projectname %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @project.startdate %>
</p>

<p>
  <strong>Finish date:</strong>
  <%= @project.finishdate %>
</p>

<p>
  <!-- <strong>Lead director:</strong>
  <%= @project.lead_director %> -->
</p>

<p>
  <strong>Programme manager:</strong>
  <%= @project.programmemanager %>
</p>

<p>
  <strong>Project manager:</strong>
  <%= @project.projectmanager %>
</p>

<p>
  <strong>Programme:</strong>
  <%= @project.programme %>
</p>

<p>
  <strong>Transformation:</strong>
  <%= @project.transformation %>
</p>

<p>
  <strong>Components:</strong>
  <%= @project.components %>
</p>

<p>
  <strong>Project outcome:</strong>
  <%= @project.projectoutcome %>
</p>

<p>
  <strong>Teras rmke-11 berkaitan:</strong>
  <%= @project.terasrmke11berkaitan %>
</p>

<p>
  <strong>Agenda utama berkaitan:</strong>
  <%= @project.agendautamaberkaitan %>
</p>

<p>
  <strong>Kpi uitm berkaitan:</strong>
  <%= @project.kpiuitmberkaitan %>
</p>

<p>
  <strong>Deliverables:</strong>
  <%= @project.deliverables %>
</p>

<p>
  <strong>First milestone:</strong>
  <%= @project.firstmilestone %>
</p>

<p>
  <strong>Impact:</strong>
  <%= @project.impact %>
</p>

<p>
  <strong>Budget:</strong>
  <%= @project.budget %>
</p>

<p>
  <strong>Latihan:</strong>
  <%= @project.latihan %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
