<!DOCTYPE html>
<html>
<head>
  <title>Uepmo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    
  <%= csrf_meta_tags %>
</head>
<body>

<nav id="nav">
  <div id="page_nav">
    <%= link_to "Project", root_path %>
    <%= link_to "Approval", page_approval_path %>
    <%= link_to "Issues", page_issue_path %>
    <%= link_to "Project Health", page_project_health_path %>
    <%= link_to "Task", page_task_path %>
  </div>

  
  <div id="sign_in">
    <% if user_signed_in? %>
    <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>

    <% else %>

    <%= link_to "Sign in", new_user_session_path %>
    <% end %>
  </div>
  
</nav>
  

<div id="main_wrap">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
 
    
  </div>
  <div class = "container" style = "padding-top:20px;"> </div>

</body>
</html>
